// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
a {color: $solar-blue; text-decoration: none}
a:active {color: $solar-cyan}
a:visited {color: $solar-violet}
a {
    @media screen {
        @include transition(color 220ms linear, text-shadow 120ms cubic-bezier(.1,.83,.83,.67))
    }
}
a:hover {text-shadow: 0 0 0.22em $solar-blue;}
aside.sidebar, nav, footer { a:hover {text-shadow: none;} }
a.davidadlink {
    background: $base02;
    color: $base1;
    position: absolute;
    padding: 7px;
    border-radius: 9px;
    white-space: nowrap;
    top:-4px;
    right:0px;
    z-index: 5;
    padding-bottom:4px;
    div {
        top: 0.9pt;
        position: relative;
        span {
            font-weight: bold;
            color: $solar-orange;
        }
    }
}
a.davidadlink:hover {
    text-shadow: none
}
a.davidadlink:hover span {
    text-shadow: 0 0 4px $solar-orange;
}

div {
    @include fontyGoodness;
    font-family: "GaramondNo8",serif;
}

h1, h2 {
    font-family: "GaramondNo8",serif;
}


p {
    @include stdFont;
}

aside.sidebar p {
    text-align: left;
}
